
NODE_ENV = 'dev'

API_KEY =

# generate your own key
AUTH_JWT_KEY =
AUTH_JWT_EXPIRATION = '24h'

# Database credentials
# use your own user, password and database
MYSQL_USER = root
MYSQL_PASSWORD =
MYSQL_HOST = localhost
MYSQL_DATABASE =
SERVER_PORT = 4000
SERVER_HOST = 0.0.0.0

# R2 CREDENTIALS
R2_ACCOUNT_ID =
R2_ACCESS_KEY_ID =
R2_SECRET_ACCESS_KEY =
R2_BUCKET_NAME =
R2_BUCKET_DOMAIN =
